INSTAGRAM_EMAIL=jaysagent777@gmail.com
INSTAGRAM_PASSWORD=Jai81069@
ANTHROPIC_API_KEY=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
PEXELS_API_KEY=i9166UacHF4p9uyi6poONeBOqCw8B8lPa260S1BzNarfmeChenyqHHIi
